<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" class="navbar-default bg-light">
    <ul class="list-unstyled components">
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-home'></span> Customer Dashboard
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/planning-dashboard"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Eaton Planning Dashboard
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/manufacturing-dashboard"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Eaton Manufacturing Dashboard
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/services-dashboard"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Eaton Services Dashboard
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/analytics-dashboard"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Eaton Analytics Dashboard
        </a>
      </li>
      <!-->li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
      </li>-->
    </ul>
  </nav>

</div>
