<ngx-loading [show]="loading"
             [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class='container-fluid'>
  <div class='row border card'>
    <div class="card-header">
      Analytics Dashboard
      <!--button class="btn btn-primary" (click)="RunSpinner()">Click to spin</button>-->
    </div>
    <!--div class="card-body">
      <div class="col-sm-16">
        <label for="timespan">Time Range: </label>
        <select [(ngModel)]="SelectedTimespan" class="mb-1 mt-2" name="timespan">
          <option *ngFor="let c of Timespans" [ngValue]="c">{{c.name}}</option>
        </select>
        <button class="btn btn-primary" (click)="SearchOrders()">Search</button>
      </div>
      <div class="col-sm-12">
      </div>
    </div>
  </div>-->
  <div class='row border card'>
    <div class="card-header">
      Statistics
    </div>
  </div>
</div>
    <div class="card-body">
      <div class="col-sm-16">
    <mat-grid-list cols="3" rowHeight="4:4">
    <mat-grid-tile 
    style="border:6px solid navy;">
    <body>
    <h2 style="text-align:center"><strong>Total Orders</strong></h2>
    <br>
    <br>
    <h1 style="text-align:center">{{ getOrderNumber() }}</h1>
    </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;">
    <body>
        <h2 style="text-align:center"><strong>Total Transactions</strong></h2>
        <br>
        <br>
        <h1 style="text-align:center">{{ getTransactionNumber() }}</h1>
    </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;"
    [rowspan]=2>
      <body>
        <h2 style="text-align:center"><strong>Billing Addresses in USA</strong></h2>
        <br>
        <br>
        <h5 style="text-align:center" [innerHTML]="getRegionStateDataBilling()"></h5>
      </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;">
      <body>
          <h2 style="text-align:center"><strong>Average Transactions Per Order</strong></h2>
          <br>
          <br>
          <h1 style="text-align:center">{{ getAverageTransactionsPerOrder() }}</h1>
      </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;">
      <body>
          <h2 style="text-align:center"><strong>Total Price of Orders</strong></h2>
          <br>
          <br>
          <h1 style="text-align:center">${{ getOrderPrice() }}</h1>
      </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;">
      <body>
          <h2 style="text-align:center"><strong>Total Non-Complete Orders</strong></h2>
          <br>
          <br>
          <h1 style="text-align:center">{{ getNonCompleteOrders() }}</h1>
      </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;">
      <body>
          <h2 style="text-align:center"><strong>Percentage of Non Complete Orders</strong></h2>
          <br>
          <br>
          <h1 style="text-align:center">{{ getPercentageNonCompleteOrders() }}%</h1>
      </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;"
    [rowspan]=2>
      <body>
        <h2 style="text-align:center"><strong>Mailing Addresses in USA</strong></h2>
        <br>
        <br>
        <h5 style="text-align:center" [innerHTML]="getRegionStateDataMailing()"></h5>
      </body>
    </mat-grid-tile>
    <mat-grid-tile
    style="border:6px solid navy;">
      <body>
          <h2 style="text-align:center"><strong>Number of Warrantied Orders</strong></h2>
          <br>
          <br>
          <h1 style="text-align:center">{{ getWarrantyOrders() }}</h1>
      </body>
    </mat-grid-tile>
    <!--mat-grid-tile
    style="border:6px solid navy;">
      <body>
        <h2 style="text-align:center"><strong>Percentage of Warranty Orders</strong></h2>
        <br>
        <br>
        <h1 style="text-align:center">{{ getPercentageWarrantyOrders() }}%</h1>
      </body>
    </mat-grid-tile>-->
    <mat-grid-tile
    style="border:6px solid navy;">
      <body>
          <h2 style="text-align:center"><strong>Total Price of Warranty Orders</strong></h2>
          <br>
          <br>
          <h1 style="text-align:center">${{ getWarrantyPrice() }}</h1>
      </body>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
  </div>
</div>
      
    
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Change Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="RunSpinner()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

